fastapi
uvicorn
python-dotenv
pydantic
sqlalchemy
pyodbc
langchain-community
langchain-openai
langgraph
pandas
numpy
azure-search-documents
azure-core
azure-identity
tiktoken
# ---- Twilio ---
twilio
gunicorn
python-multipart
# --- Additional Analytical Libraries ---
statsmodels
scikit-learn
python-dateutil
cerberus
tabulate
prettytable
texttable