fastapi
uvicorn
python-dotenv
pydantic
sqlalchemy
pyodbc
langchain
langchain-community
langchain-openai
langgraph
pandas
numpy
azure-search-documents
azure-core
scipy
tabulate
prettytable
texttable
python-dateutil
cerberus
openai
tiktoken
azure-identity
# --- Twilio ---
twilio>=9,<10
gunicorn>=21.2,<22
python-multipart
